@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1206px;
    border-left: 0.15px solid #B7B7B7;
    border-right: 0.15px solid #B7B7B7;
    margin: auto;
    height: 100vh;
}

.work-with-us{
    padding: 100px 30px 100px 30px;
}

.work-with-us__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #242424;
    
    width: 950px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.work-with-us__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.work-with-us__point {
    width: 362px;
    height: 186px;
    margin-top: 60px;
}

.point__title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #242424;
}

.point__content {
    width: 361px;
    height: 63px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.point__content-narrow {
    width: 264px;
}